<!-- views/partials/header.ejs -->
<!-- <div class="jumbotron">
        <h1>This is DateNight</h1>
    </div> -->


<nav class="topnav" id="navbar" role="navigation">

    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-glass"></span>
            </a>           

            <ul class="nav navbar-nav">
                <li><a href="/results">See Listings</a></li>
                <li><a href="/post">Post Listings</a></li>
                <li><a href="#">Login</a></li>                
            </ul>

            
        </div>
    </div>
</nav>




<script>
    $(document).ready(function(){
    //Handles menu drop down
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
    });
});



$(function (){
    setNavigation();
    });

function setNavigation(){
    var path = window.location.pathname;
    path = path.replace(/\/$/, "");
    path = decodeURIComponent(path);

    $(".topnav a").each(function(){
        var href = $(this).attr('href');
        if(path.substring(0, href.length) === href){
            $(this).closest('li').addClass('active');
        }
   });
}


// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}


</script>

