<script>
  //$(document).ready(function(){
  //    $("#results-test").click(function(){
  //        $("#results-container").show(1000);
  //        $("#home-module").hide(1000);
  //    });

  //});
  </script>


<section id="home-module">


<form id="introform" class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>A new experience is one click away</legend>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="searcharea"></label>
      <div class="col-md-2">                     
        <input type="text" class="form-control locationSearch" id="searcharea" name="searcharea" placeholder="City"></input><BR>

          <input type="submit" value="Submit" id="submit" class="resultSearch">
      </div>

    </fieldset>
    </form>
  </section>