<section id="home-module">
<h1>This is Date Night</h1>

<form id="introform" class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>A new experience is one click away</legend>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="searcharea"></label>
      <div class="col-md-2">                     
        <textarea class="form-control" id="searcharea" name="searcharea">Orlando</textarea><BR>

          <input type="submit" value="Submit" id="submit">
      </div>

    </fieldset>
    </form>
  </section>