<section id="login-module">


        <form id="loginform" class="form-horizontal">
            <fieldset>
            
            <!-- Form Name -->
            <legend>Login</legend>
            
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="searcharea"></label>
              <div class="col-md-2">                     
                <input type="text" class="form-control loginEmail" id="searcharea" name="searcharea" placeholder="Email"></input><BR>
                <input type="text" class="form-control loginPassword" id="searcharea" name="searcharea" placeholder="Password"></input><BR>
        
                  <input type="submit" value="Submit" id="submit" class="loginSubmit"><br><br>

                  <input type="button" value="Not a user? Sign up!" id="signup">
              </div>
        
            </fieldset>
            </form>
          </section>