<div class="row">

    <div class="col-lg-5"><img id="eats-image" src="/assets/images/eats.jpg" border="0">
    </div>

    <div class="col-lg-2">
        </div>

    <div class="col-lg-5"><img id="event-image" src="/assets/images/fireworks.jpg" border="0">
        </div>


</div>