
<script>
  $(document).ready(function(){
      $("#one").click(function(){
          $("#event").show(1000);
          $("#restaurant").hide(1000);
      });

      $("#two").click(function(){
          $("#restaurant").show(1000);
          $("#event").hide(1000);
      });
  });
  </script>

<div class="btn-group" data-toggle="buttons">
  <!-- <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label> -->
  <label class="btn btn-primary" id="one">
    <input type="radio" name="options" autocomplete="off"> Event
  </label>
  <label class="btn btn-primary" id="two">
    <input type="radio" name="options" autocomplete="off"> Restaurant
  </label>
</div>

<p></p>

<form id="event" class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>List Your Event</legend>
    
    <!-- Text input-->
    <!-- <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">First Name</label>  
      <div class="col-md-4">
      <input id="firstname" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Last Name</label>  
      <div class="col-md-4">
      <input id="lastname" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" required="">
      </div>
    </div> -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Event Name</label>
      <div class="col-md-4">                     
        <input type="text" class="form-control" id="eventname" name="textarea">
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Select Type</label>
      <div class="col-md-4">
        <select id="typeevent" name="selectbasic" class="form-control">
          <option value="1">Festival</option>
          <option value="2">Parade</option>
          <option value="3">Garage Sale</option>
          <option value="4">Carnival</option>
          <option value="5">Flea Market</option>
          <option value="6">Outdoors</option>
          <option value="7">Other</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Street</label>  
      <div class="col-md-4">
      <input id="street" name="textinput" type="text" placeholder="Optional" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">City</label>  
      <div class="col-md-4">
      <input id="city" name="textinput" type="text" placeholder="Optional" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Zip Code</label>  
      <div class="col-md-4">
      <input id="zipcode" name="textinput" type="text" placeholder="Required" class="form-control input-md" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Time</label>  
      <div class="col-md-4">
      <input id="time" name="textinput" type="text" placeholder="Required" class="form-control input-md" required="">
      </div>
    </div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Description</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
        <input type="submit" value="Submit" id="submit">
      </div>
    </div>
    
    </fieldset>
    </form>



    <form id="restaurant" class="form-horizontal">
      <fieldset>
      
      <!-- Form Name -->
      <legend>List Your Restaurant</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Restaurant Name</label>  
        <div class="col-md-4">
        <input id="restname" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" required="">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Type of Food</label>
        <div class="col-md-4">
          <select id="food-type" name="selectbasic" class="form-control">
            <option value="1">American</option>
            <option value="2">Gastro/Pub</option>
            <option value="3">Italian</option>
            <option value="4">Mediterranean</option>
            <option value="5">Latino/Hispanic</option>
            <option value="6">German/Beirgarten</option>
            <option value="7">Indian</option>
            <option value="8">Chinese</option>
            <option value="9">Japanese</option>
            <option value="10">Vegetarian</option>
            <option value="11">Other</option>

          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Street</label>  
        <div class="col-md-4">
        <input id="street" name="textinput" type="text" placeholder="Optional" class="form-control input-md">
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">City</label>  
        <div class="col-md-4">
        <input id="city" name="textinput" type="text" placeholder="Optional" class="form-control input-md">
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Zip Code</label>  
        <div class="col-md-4">
        <input id="zipcode" name="textinput" type="text" placeholder="Required" class="form-control input-md" required="">
        </div>
      </div>
      
      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Description</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="textarea" name="textarea"></textarea>
          <input type="submit" value="Submit" id="submit">
        </div>
      </div>
      
      </fieldset>
      </form>
    