<div class="row">
    <div class="col-sm-6">

        <h3>Local Restaurants</h3>
        <ul id="restList">
                
            </ul>



    </div>

    <div class="col-sm-6">

        <h3>Local Events</h3>
        <ul id="eventList">
                
            </ul>

    </div>
</div>