<div class="row">
    <div class="col-sm-6">

        <h3>Local Restaurants</h3>
        <ul id="restList">
                
            </ul>



    </div>

    <div class="col-sm-6">

        <h3>Local Events</h3>
        <ul id="eventList">
                
            </ul>

    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="listingModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="listingName"></h4>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="row" id="listingAddress1" style="float: left"></div>
                  <br>
                  <div class="row" id="listingAddress2" style="float: left"></div>
                  <br><br>
                  <div class="row" id="listingPhone" style="float: left"></div>
                  <br>
                  <div class="row" id="listingType" style="float: left"></div>
                  <br>
                  <div class="row" id="listingPrice" style="float: left"></div>
                  <br><br>
                  <div class="row" id="listingDescrip" style="float: left"></div>
                  <br><br>
                  <div class="row" id="divider1" style="border-bottom: 1px solid rgba(0,0,0,.5)"></div>
                  <div class="row" id="listingReviews" style="float: left"></div>
                  <br><br><br>
                  <div class="row" id="yelpLogo" style="float:left"></div> 
                  <div class="row" id="divider2" style="border-bottom: 1px solid rgba(0,0,0,.5)"></div>                 
                </div>                
                <div class="col-md-3" id="listingPics"></div>
              </div>
              </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style:"text-align: right">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  