<div id="signup-module">


        <form id="signupform" class="form-horizontal">
            <fieldset>
            
            <!-- Form Name -->
            <legend>Sign Up</legend>
            
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="searcharea"></label>
              <div class="col-md-2">                     
                <input type="text" class="form-control signupEmail" id="searcharea" name="searcharea" placeholder="Email"></input><BR>
                <input type="text" class="form-control signupPassword" id="searcharea" name="searcharea" placeholder="Password"></input><BR>
        
                  <input type="submit" value="Submit" id="submit" class="signupSubmit"><br><br>

                  <input type="button" value="Already a user? Login!" id="loginswitch">
              </div>
        
            </fieldset>
            </form>
        </div>