<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <header>
            <% include ../partials/header %>
    </header>


<body class="container">
        
<main>

    <div class="row">
        <div class="col-lg-3">
            <p><% include ../partials/sidebar %></p>
        </div>

        <div class="col-lg-9">

            <p><% include ../partials/introform %></p>
        </div>
    </div>
</main>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>