<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

<main>
    <div class="jumbotron">
                <h1>This is DateNight</h1>
                <P>A new experience is one click away</P>
    </div>

            <p><% include ../partials/postform %></p>


</main>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>