<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

<main>
        <p><% include ../partials/pick %></p>

    <p><% include ../partials/postform %></p>


</main>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>