html {
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
}

body {
  margin: 250px 0 0 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
}

header {
	background: url(../images/orlandoskyline1.jpg) 0 0 repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  z-index:1000;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
}

.jumbotron {
  background: transparent;
  color: #ffffff;
  /* border: 1px solid #dcdcdc; */
  padding-right: 0px;
  padding-left: 0px;
}



input, select, #textarea {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 10px;}
input:focus, input:hover, select:focus, select:hover, #textarea {
  background-color: #ffffff;
  border: 1px solid #b1e1e4;}



input#submit {
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  text-shadow: 0px 1px 1px #ffffff;
  /* border-bottom: 2px solid #b2b2b2; */
  background-color: #499bea;
  background: -webkit-gradient(linear, left top, left bottom, from(#499bea), to(#207ce5));
  /* background: -moz-linear-gradient(top, #beeae9, #a8cfce);
  background: -o-linear-gradient(top, #beeae9, #a8cfce);
  background: -ms-linear-gradient(top, #beeae9, #a8cfce); */
  }

input#submit:hover {
  color: #a1dbff;
  border: 1px solid #a4a4a4;
  /* border-top: 2px solid #b2b2b2; */
  background-color: #a0dbc4;
  background: -webkit-gradient(linear, left top, left bottom, from(#499bea), to(#207ce5));
  /* background: -moz-linear-gradient(top, #a8cfce, #beeae9);
  background: -o-linear-gradient(top, #a8cfce, #beeae9);
  background: -ms-linear-gradient(top, #a8cfce, #beeae9); */
  }

fieldset {
  width: 750px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  text-align: right;
}

#pick {
  width: 750px;
  border: 1px solid #499bea;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  text-align: right;
}
  

legend, .btn-group {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;}

#listevent {
  border: 1px solid #499bea;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
}

#event, #restaurant {
  display: none;
}

.btn-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  overflow: auto;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;

}

#introform {
  height: 400px;
}

#event, #restaurant {
  height: 600px;
}

.panel {
	min-width: ;
	overflow: hidden;
	text-overflow: ellipsis;
	border: none;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #499bea;
    color: white;
    border: none;

}

.panel > .panel-body {
	background-color: #f3f3f2;
}


.navbar {
  background-color: #499bea;
  border: 1px solid #dcdcdc;
  color: #fff;
}



.topnav {
  /* background-color: #333; */
background-color: #499bea;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



/* Change the color of links on hover */
.topnav a:hover {
  background: #a7c7dc; /* Old browsers */
  background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */;
  color: black;
}

.active {
  font-weight: bold;
  background: #a7c7dc; /* Old browsers */
  background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */;
}

#slider {
  font-weight: bold;
  font-size: 42px;
  line-height: 36px;
  color: #fff;
}

#slidertext {
  font-weight: bold;
  font-size: 21px;
  line-height: 14px;
  color: #fff;
}

#myCarousel {
  cursor: pointer;
}