html {
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
  background: #000;
}

body {
  margin: 250px 0 0 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
  background-attachment: fixed;
}

header {
	background: url(../images/orlandoskyline2.jpg) 0 0 repeat-x;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  z-index:1000;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefcea 0%,#000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefcea 0%,#000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#000',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
}

.jumbotron {
  background: transparent;
  color: #ffffff;
  /* border: 1px solid #dcdcdc; */
  padding-right: 0px;
  padding-left: 0px;
}



input, select, #textarea {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 10px;}
input:focus, input:hover, select:focus, select:hover, #textarea {
  background-color: #ffffff;
  border: 1px solid #fefcea;}



input#submit, input#restSubmit {
  padding: 5px 10px 5px 10px;
  color: #000;
  text-shadow: 0px 1px 1px #ffffff;
  background-color: #fefcea;
  }


  
input#submit:hover, input#restSubmit:hover {
  color: #000;
  border: 1px solid #a4a4a4;
  /* border-top: 2px solid #b2b2b2; */
  background-color: #f1da36;
}

fieldset {
  width: 750px;
  border: 1px solid #f1da36;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  text-align: right;
}

#pick {
  width: 750px;
  border: 1px solid #f1da36;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  text-align: right;
}
  

legend, .btn-group {
  border: 1px solid #f1da36;
  border-radius: 10px;
  padding: 10px 20px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

#listevent {
  border: 1px solid #f1da36;
  border-radius: 10px;
  padding: 10px 20px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

#bottomlegend {
  border: 1px solid #f1da36;
  border-radius: 10px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  text-align: left;
  text-transform: uppercase;
  width: 40%;
  /* margin-left: 400px; */
  margin: auto;
  margin-top:-30px;
  
}

#go, #gogo {
  background-color: transparent;
  border: 0;
}

#go:hover, #gogo:hover {
  text-decoration: underline;
}

#event, #restaurant {
  display: none;
}

.btn-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  overflow: auto;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;

}

#introform {
  height: 400px;
}

#event, #restaurant {
  height: 750px;
}

.panel {
	min-width: ;
	overflow: hidden;
	text-overflow: ellipsis;
	border: none;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #fefcea;
    color: #000;
    border: none;
}

.panel > .panel-body {
	background-color: #f3f3f2;
}


.topnav {
background-color: #fefcea;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



/* Change the color of links on hover */
.topnav a:hover {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea  0%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefcea  0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefcea  0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea ', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */;
  color: black;
}

.active {
  font-weight: bold;
  background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */;
}

#slider {
  font-weight: bold;
  font-size: 42px;
  line-height: 36px;
  color: #fff;
}

#slidertext {
  font-weight: bold;
  font-size: 21px;
  line-height: 14px;
  color: #fff;
}

#myCarousel {
  cursor: pointer;
}

#carousel {
  width:55%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}